%ul#dropdown1.dropdown-content.flechita
	%li
		%a.grey-text.text-darken-4{href:"#inicio"} Inicio
	%li
		%a.grey-text.text-darken-4{href:"#about"} Acerca de
	%li
		%a.grey-text.text-darken-4{href:"#design"} Design
	%li
		%a.grey-text.text-darken-4{href:"#tec"} Tecnología
	%li
		%a.grey-text.text-darken-4{href:"#team"} Team
%main.main-login#inicio.scrollspy
	-#======= Parte principal ==========
	.index-first.z-depth-2
		-#======== Animación inicial ===========
		.back
		-#======== Particles ===========
		#particles.fixed.z-depth-2
		-#======== Nav bar de navegación ===========
		%nav.nav-index
			.nav-wrapper
				%ul.right.hide-on-med-and-down
					%li
						%a{href:"#inicio"}
							%span Inicio
					%li
						%a{href:"#about"}
							%span Acerca de
					%li
						%a{href:"#design"}
							%span Design
					%li
						%a{href:"#tec"}
							%span Tecnología
					%li
						%a{href:"#team"} 
							%span Team
				%ul.right
					%li.hide-on-large-only
						%a.dropdown-button{href:"#!", data:{activates:"dropdown1"}} 
							%span{style:"margin-right: 60px"} Menú
							%i.material-icons.right arrow_drop_down

		-#======== Contenido de la parte principal ===========
		.row.animated.no-margin
			.col.s12.m6.center-align
				=image_tag "login/logo-horizontal-w-s.png", class: "hide-on-small-only"
				=image_tag "login/logo-s.png", class: "hide-on-med-and-up left"
			.ingresar.col.s12.m5
				.col.s12.white-bonis
					%h4.hide-on-small-only Bienvenido
					%h4.hide-on-med-and-up Bienvenido a GliphyHub
					%h6 Ingrese su nombre de usuario y contraseña para acceder a la plataforma
					-#=============================
					=render "devise/sessions/new"
					-#=============================
					.col.s12.forget.center-align
						#prueba.upper.white-bonis.manita{href: "#!"} ¿olvidó su contraseña?
			.olvide.col.s12.m5.white-text
				.left
					%a#back-to-ingresar.btn-flat.btn-square
						%i.material-icons.prefix.medium arrow_back
				.col.s12
					%h5 ¿Olvidó su contraseña?
				.col.s12
					%p.jus.text-normal
						%span Si olvidó su contraseña, ingrese en el campo de abajo el
						%strong correo con el cual se registró
						%span en la plataforma, para que nosotros podamos ayudarle a recuperar su cuenta
				#recuperar
					=render "devise/passwords/new"
		.bolita				
	.index-content
		#about.section.scrollspy
		%section.center
			.row
				.col.s12
					%h2 La mejor manera de comunicarse ha llegado
				
				.col.s12
					%p.text-presentation
						%span Somos una plataforma enfocada en la interacción entre la comunidad escolar y el cuerpo administrativo del plantel, innovando así la
						%strong comunicación
						%span . Nuestra 
						%strong misión 
						%span fue crear una nueva plataforma, que mejorara la experiencia de usuario y enriqueciera el ambiente de la comunidad escolar. 
						%br
						%span Lo que logramos, fue
						%strong mejor.
				.col.s12.m6.l4
					.space-login.left-align
						.col.s12
							%i.material-icons.left flash_on
							%h5 Acelera la comunicación
						.col.s12
							%p Esta plataforma está diseñada para hacer que la comunicación entre los alumnos, tutores y autoridades del <b>plantel</b> sea más efectiva y rápida.
				.col.s12.m6.l4
					.space-login.left-align
						.col.s12
							%i.material-icons.left group
							%h5 Enfocado al plantel
						.col.s12
							%p Se ha desarrollado un diseño intuitivo, fácil de leer y amigable, que permite que todos los usuarios se sientan bien con GliphyHub, el lugar <b>ideal</b> para la comunicación escolar.
				.col.s12.m12.l4
					.space-login.left-align
						.col.s12
							%i.material-icons.left important_devices
							%h5 Totalmente responsivo
						.col.s12
							%p El diseño fue una de nuestras prioridades al diseñar este sitio. Se adapta, <b>evoluciona</b>, para que accedas cómodamente desde el dispositivo que quieras.
		#design.sec.scrollspy.grey.lighten-2
			%section
				.row
					.col.s12.l6
						.material-example
							.material-cube.one
								.shape.z-depth-5
							.material-cube.two
								.shape.z-depth-5
							.material-cube.three
								.shape.z-depth-5
							.material-cube.base
								.shape.z-depth-5
									=image_tag "login/seaside.jpg"
					.col.s12.l6
						%h2 Material Design, el corazón del sitio
						%p Creado y diseñado por Google, Material Design es un lenguaje de diseño que combina los principios clásicos del diseño exitoso junto con la innovación y la tecnología. El objetivo de Google consiste en desarrollar un sistema de diseño que permite una experiencia de usuario unificada a través de todos sus productos en cualquier plataforma.
						%a.btn.waves-effect{href:"https://material.io/guidelines/material-design/introduction.html",target:"_blank"} Leer más
		#tec.scrollspy
		.sec.build
			%section.center.white-text
				.row
					.col.s12
						%h2.white-text Construido con tecnología de última generación
					.col.s12
						%h6 Hemos utilizado tecnologías sólidas, libres y confiables, siempre pensando en el rendimiento y la confiabilidad que ofrecen estas herramientas, y el poder de creación y desarrollo de cada una.
					.col.s12.m6.l4
						=image_tag "login/ruby.png"
						%h5 Ruby On Rails
						%p
							%span Ruby On Rails es un poderosísimo framework BackEnd escrito en Ruby y de código libre. Siguiendo el paradigma del patrón
							%strong Modelo Vista Controlador
							%span combina la simplicidad y la potencia
						%a.btn.waves-effect{href:"http://rubyonrails.org/",target:"_blank"} Saber más
					.col.s12.m6.l4
						=image_tag "login/material.png"
						%h5 Materialize
						%p 
							%span Un framework web FrontEnd moderno y responsivo basado en
							%strong Material Design.
							%span Materialize simplifica la vida de los desarrolladores y los usuarios que atienden
						%a.btn.waves-effect{href:"http://materializecss.com/",target:"_blank"} Saber más
					.col.s12.l4
						=image_tag "login/github.png"
						%h5 GitHub
						%p
							%span Es una plataforma que, utilizando el sistema de 
							%strong control de versiones Git,
							%span permite la colaboración entre cientos de miles de desarrolladores
						%a.btn.waves-effect{href:"https://github.com/",target:"_blank"} Saber más
		
		#team.scrollspy.parallax-container.valign-wrapper
			.section
				.container
					.row.center.no-margin
						.col.s12
							%h2.white-text Conozca al equipo
			.parallax
				=image_tag "login/team.jpg"
		.section
			.container
				.row
					.col.s12.m6.l4
						.team
							%article.material-card
								%h2.blue
									%span.truncate Joel Hernández
									%strong.truncate.mc-title
										%p
										%span.trun  Front-end
								.mc-content.blue.lighten-1
									.img-container
										=image_tag "login/joel.jpg", class:"responsive-img white"
									.mc-description.white-text
										%span Desarrollador, maker, atraído por la ciencia y la tecnología. ¿Su más grande sueño?, viajar por el cosmos
								%a.mc-btn-action.blue.lighten-2.z-depth-3.hoverable
									%i.material-icons menu
								.mc-footer.blue.lighten-3
									%a.center-align.blue.lighten-1{href:"https://github.com/joelhernandez343", target:"_blank"}
										=image_tag "login/git.png"
					.col.s12.m6.l4
						.team
							%article.material-card
								%h2.blue
									%span.truncate Roberto Gervacio
									%strong.truncate.mc-title
										%p
										%span.trun  Full-stack
								.mc-content.blue.lighten-1
									.img-container
										=image_tag "login/roberto.jpg", class:"responsive-img white"
									.mc-description.white-text
										%span Futuro ingeniero en tecnologías de cómputo, apasionado por Linux y el código libre
								%a.mc-btn-action.blue.lighten-2.z-depth-3.hoverable
									%i.material-icons menu
								.mc-footer.blue.lighten-3
									%a.center-align.blue.lighten-1{href:"https://github.com/robtry", target:"_blank"}
										=image_tag "login/git.png"
					.col.s12.m6.l4
						.team
							%article.material-card
								%h2.blue
									%span.truncate Willie Almaraz
									%strong.truncate.mc-title
										%p
										%span.trun  Back-end
								.mc-content.blue.lighten-1
									.img-container
										=image_tag "login/willie.jpg", class:"responsive-img white"
									.mc-description.white-text
										%span Joven estudiante desarrollador de código, con habilidades en físico-matemáticas
								%a.mc-btn-action.blue.lighten-2.z-depth-3.hoverable
									%i.material-icons menu
								.mc-footer.blue.lighten-3
									%a.center-align.blue.lighten-1{href:"https://omegaup.com/profile/CRWillieAlmaraz/", target:"_blank"}
										=image_tag "login/oup.png"
					.col.s12.m6.l4
						.team
							%article.material-card
								%h2.blue
									%span.truncate Ana Morales
									%strong.truncate.mc-title
										%p
										%span.trun  Documentación
								.mc-content.blue.lighten-1
									.img-container
										=image_tag "login/ana.jpg", class:"responsive-img white"
									.mc-description.white-text
										%span Sin rumbo definido, pero lista para enfrentar lo que sea a mi manera
								%a.mc-btn-action.blue.lighten-2.z-depth-3.hoverable
									%i.material-icons menu
								.mc-footer.blue.lighten-3
									%a.center-align.blue.lighten-1{href:"https://www.facebook.com/AnSethLedger", target:"_blank"}
										=image_tag "login/facebook.png"
					.col.s12.m6.l4
						.team
							%article.material-card
								%h2.blue
									%span.truncate Mariana Alonzo
									%strong.truncate.mc-title
										%p
										%span.trun Documentación
								.mc-content.blue.lighten-1
									.img-container
										=image_tag "login/mariana.jpg", class:"responsive-img white"
									.mc-description.white-text
										%span Análisis. Aspirante a ingeniera aeronauta
								%a.mc-btn-action.blue.lighten-2.z-depth-3.hoverable
									%i.material-icons menu
								.mc-footer.blue.lighten-3
									%a.center-align.blue.lighten-1{href:"https://www.instagram.com/marianazq13/", target:"_blank"}
										=image_tag "login/instagram.png"
					.col.s12.m6.l4
						.team
							%article.material-card
								%h2.blue
									%span.truncate Noé Camacho
									%strong.truncate.mc-title
										%p
										%span.trun  Documentación
								.mc-content.blue.lighten-1
									.img-container
										=image_tag "login/noe.jpg", class:"responsive-img white"
									.mc-description.white-text
										%span Canto, baile, caminar sin rumbo y viajar son mis más grandes placeres en la vida
								%a.mc-btn-action.blue.lighten-2.z-depth-3.hoverable
									%i.material-icons menu
								.mc-footer.blue.lighten-3
									%a.center-align.blue.lighten-1{href:"https://www.instagram.com/iker_camacho/", target:"_blank"}
										=image_tag "login/instagram.png"
									
					
%footer.page-footer
	.container
		.row
			.col.s12.m6
				=image_tag "login/logo-horizontal-w-s.png"
				%h5.white-text Uniendo a la comunidad
	.footer-copyright
		.container
			%span{style:"line-height: 2.5"} ©2017 | #TeamDevs
			%a.waves-effect.waves-light.btn.right{href:"https://github.com/gliphyhub", target:"_blank"} Github