-#=================================================================
-#========================= Contenido - Layout ===========================
-#=================================================================
-#-if current_user.tipo.id == 1 || current_user.tipo.id == 2
-#	%main.navegacion-espacio
-#-else
-#	%main
%main.navegacion-espacio
	=current_user.tipo.tipo_de_usuario
	=link_to "salir", destroy_user_session_path, :method => :delete

	=render "devise/registrations/new"
